In [1]:
import pandas as pd

In [2]:
obs = pd.read_hdf( 'clean_data.h5', 'obs2' )

In [3]:
obs.shape

(1426881, 19)

In [4]:
obs.columns.tolist()

['gbifID',
 'identifier',
 'eventDate',
 'decimalLatitude',
 'decimalLongitude',
 'taxonID',
 'taxonRank',
 'taxonomicStatus',
 'taxonKey',
 'acceptedTaxonKey',
 'phylumKey',
 'classKey',
 'orderKey',
 'familyKey',
 'genusKey',
 'speciesKey',
 'species',
 'acceptedScientificName',
 'verbatimScientificName']

In [5]:
obs['eventDate'] = pd.to_datetime(obs['eventDate'])

In [6]:
obs.head()

,gbifID,identifier,eventDate,decimalLatitude,decimalLongitude,taxonID,taxonRank,taxonomicStatus,taxonKey,acceptedTaxonKey,phylumKey,classKey,orderKey,familyKey,genusKey,speciesKey,species,acceptedScientificName,verbatimScientificName
0,2862378302,1897201,2015-08-27 00:00:00,45.445945,-75.653387,128516,SPECIES,ACCEPTED,5240596,5240596,34.0,186.0,1499.0,4180.0,5955261.0,5240596.0,Mycena leaiana,Mycena leaiana (Berk.) Sacc.,Mycena leaiana
1,1572388850,6999380,2015-07-02 00:00:00,43.970350,-70.511900,48473,SPECIES,ACCEPTED,2549834,2549834,34.0,186.0,1145.0,3290.0,2519220.0,2549834.0,Ganoderma applanatum,Ganoderma applanatum (Pers.) Pat.,Ganoderma applanatum
2,1944424565,9174531,2017-12-02 09:20:47,25.933413,-99.992256,117877,SPECIES,ACCEPTED,2608929,2608929,95.0,180.0,10861608.0,8369.0,2600367.0,2608929.0,Physcia aipolia,Physcia aipolia (Ehrh. ex Humb.) Fürnr.,Physcia aipolia
3,1838337501,10944119,2014-06-16 00:00:00,-34.110000,18.930000,155197,SPECIES,ACCEPTED,5248629,5248629,34.0,186.0,1144.0,7609.0,2532156.0,5248629.0,Lactarius deliciosus,Lactarius deliciosus (L.) Gray,Lactarius deliciosus
4,1841319995,12071576,2018-04-30 13:55:00,25.627567,-100.213181,55553,SPECIES,ACCEPTED,3429410,3429410,95.0,180.0,1050.0,8368.0,2609979.0,3429410.0,Teloschistes chrysophthalmus,Teloschistes chrysophthalmus (L.) Th.Fr.,Teloschistes chrysophthalmus

In [7]:
# Generate media_df
media_df = pd.read_hdf('clean_data.h5', 'media')
media_df

,gbifID,format,identifier
0,891021265,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...
1,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...
2,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...
3,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...
4,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...
...,...,...,...
2803563,3966878312,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...
2803564,3966881317,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...
2803565,3966881317,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...
2803566,3966885382,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...
2803567,3966890327,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...

In [8]:
media_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2803519 entries, 0 to 2803567
Data columns (total 3 columns):
 #   Column      Dtype
---  ------      -----
 0   gbifID      int64
 1   format      object
 2   identifier  object
dtypes: int64(1), object(2)
memory usage: 85.6+ MB

In [9]:
obs.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 1426881 entries, 0 to 1426880
Data columns (total 19 columns):
 #   Column                  Non-Null Count    Dtype
---  ------                  --------------    -----
 0   gbifID                  1426881 non-null  int64
 1   identifier              1426881 non-null  int64
 2   eventDate               1426881 non-null  datetime64[ns]
 3   decimalLatitude         1423300 non-null  float64
 4   decimalLongitude        1423300 non-null  float64
 5   taxonID                 1426881 non-null  int64
 6   taxonRank               1426881 non-null  object
 7   taxonomicStatus         1426881 non-null  object
 8   taxonKey                1426881 non-null  int64
 9   acceptedTaxonKey        1426881 non-null  int64
 10  phylumKey               1426880 non-null  float64
 11  classKey                1426633 non-null  float64
 12  orderKey                1426545 non-null  float64
 13  familyKey               1411110 non-null  float64
 14  genusKey                1423473 non-null  float64
 15  speciesKey              1396684 non-null  float64
 16  species                 1396684 non-null  object
 17  acceptedScientificName  1426881 non-null  object
 18  verbatimScientificName  1426881 non-null  object
dtypes: datetime64[ns](1), float64(8), int64(5), object(5)
memory usage: 217.7+ MB

In [10]:
media_df = pd.merge(
    media_df,
    obs,
    how='left',
    on='gbifID',
    suffixes=[ '_media', '_obs' ]
)
media_df.head()

,gbifID,format,identifier_media,identifier_obs,eventDate,decimalLatitude,decimalLongitude,taxonID,taxonRank,taxonomicStatus,...,acceptedTaxonKey,phylumKey,classKey,orderKey,familyKey,genusKey,speciesKey,species,acceptedScientificName,verbatimScientificName
0,891021265,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,119647,2012-08-31,38.036174,-122.755828,147221,SPECIES,ACCEPTED,...,2608086,95.0,180.0,1048.0,4812.0,8360956.0,2608086.0,Niebla homalea,Niebla homalea (Ach.) Rundel & Bowler,Niebla homalea
1,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,240501,2013-04-18,38.612044,-122.781814,203092,SPECIES,ACCEPTED,...,2609427,95.0,180.0,10861608.0,8369.0,2609402.0,2609427.0,Physconia isidiigera,Physconia isidiigera Essl.,Physconia isidiigera
2,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,240501,2013-04-18,38.612044,-122.781814,203092,SPECIES,ACCEPTED,...,2609427,95.0,180.0,10861608.0,8369.0,2609402.0,2609427.0,Physconia isidiigera,Physconia isidiigera Essl.,Physconia isidiigera
3,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,240501,2013-04-18,38.612044,-122.781814,203092,SPECIES,ACCEPTED,...,2609427,95.0,180.0,10861608.0,8369.0,2609402.0,2609427.0,Physconia isidiigera,Physconia isidiigera Essl.,Physconia isidiigera
4,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,240501,2013-04-18,38.612044,-122.781814,203092,SPECIES,ACCEPTED,...,2609427,95.0,180.0,10861608.0,8369.0,2609402.0,2609427.0,Physconia isidiigera,Physconia isidiigera Essl.,Physconia isidiigera

In [11]:
media_df.to_hdf('clean_data.h5', 'media_merged')

/tmp/ipykernel_9587/1617416240.py:1: PerformanceWarning:
your performance may suffer as PyTables will pickle object types that it cannot
map directly to c-types [inferred_type->mixed,key->block3_values] [items->Index(['format', 'identifier_media', 'taxonRank', 'taxonomicStatus', 'species',
       'acceptedScientificName', 'verbatimScientificName'],
      dtype='object')]

  media_df.to_hdf('clean_data.h5', 'media_merged')

In [12]:
media_df.head()

,gbifID,format,identifier_media,identifier_obs,eventDate,decimalLatitude,decimalLongitude,taxonID,taxonRank,taxonomicStatus,...,acceptedTaxonKey,phylumKey,classKey,orderKey,familyKey,genusKey,speciesKey,species,acceptedScientificName,verbatimScientificName
0,891021265,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,119647,2012-08-31,38.036174,-122.755828,147221,SPECIES,ACCEPTED,...,2608086,95.0,180.0,1048.0,4812.0,8360956.0,2608086.0,Niebla homalea,Niebla homalea (Ach.) Rundel & Bowler,Niebla homalea
1,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,240501,2013-04-18,38.612044,-122.781814,203092,SPECIES,ACCEPTED,...,2609427,95.0,180.0,10861608.0,8369.0,2609402.0,2609427.0,Physconia isidiigera,Physconia isidiigera Essl.,Physconia isidiigera
2,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,240501,2013-04-18,38.612044,-122.781814,203092,SPECIES,ACCEPTED,...,2609427,95.0,180.0,10861608.0,8369.0,2609402.0,2609427.0,Physconia isidiigera,Physconia isidiigera Essl.,Physconia isidiigera
3,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,240501,2013-04-18,38.612044,-122.781814,203092,SPECIES,ACCEPTED,...,2609427,95.0,180.0,10861608.0,8369.0,2609402.0,2609427.0,Physconia isidiigera,Physconia isidiigera Essl.,Physconia isidiigera
4,891023450,image/jpeg,https://inaturalist-open-data.s3.amazonaws.com...,240501,2013-04-18,38.612044,-122.781814,203092,SPECIES,ACCEPTED,...,2609427,95.0,180.0,10861608.0,8369.0,2609402.0,2609427.0,Physconia isidiigera,Physconia isidiigera Essl.,Physconia isidiigera

In [13]:
media_df.columns.tolist()

['gbifID',
 'format',
 'identifier_media',
 'identifier_obs',
 'eventDate',
 'decimalLatitude',
 'decimalLongitude',
 'taxonID',
 'taxonRank',
 'taxonomicStatus',
 'taxonKey',
 'acceptedTaxonKey',
 'phylumKey',
 'classKey',
 'orderKey',
 'familyKey',
 'genusKey',
 'speciesKey',
 'species',
 'acceptedScientificName',
 'verbatimScientificName']

In [14]:
media_df['species'].value_counts()

Amanita muscaria                63458
Trametes versicolor             43908
Cerioporus squamosus            34638
Schizophyllum commune           33455
Coprinus comatus                32915
                                ...
Marasmiellus virgatocutis           1
Gymnopus impudicus                  1
Hypotrachyna croceopustulata        1
Lecidea sarcogynoides               1
Gautieria morchelliformis           1
Name: species, Length: 11751, dtype: int64

In [19]:
am_images = media_df[ media_df['species'] == "Coprinus comatus" ]['identifier_media']

In [20]:
pd.set_option('display.max_colwidth', None)

In [21]:
am_images.head()

35     https://inaturalist-open-data.s3.amazonaws.com/photos/709810/original.JPG
36     https://inaturalist-open-data.s3.amazonaws.com/photos/709809/original.JPG
106    https://inaturalist-open-data.s3.amazonaws.com/photos/209513/original.JPG
116    https://inaturalist-open-data.s3.amazonaws.com/photos/212046/original.jpg
117    https://inaturalist-open-data.s3.amazonaws.com/photos/212045/original.jpg
Name: identifier_media, dtype: object